@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.page {
    background-color: #f9f9f9;
}

.action-bar {
    background-color: #080262;
    color: white;
    font-size: 20;
    font-weight: bold;
}

.container, .form-container, .profile-menu, .event-list, .course-menu {
    padding: 20;
    margin: 10;
    background-color: white;
    border-radius: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label-primary, .day-label, .event-date, .course-title, .profile-info, .h2, .welcome, .subtitle {
    color: #080262;
}

.welcome {
    font-size: 30;
}

.label-primary {
    font-size: 16;
    font-weight: bold;
}

.day-label, .event-date, .course-title, .h2 {
    font-size: 18;
    font-weight: bold;
}

.event-description, .course-description, .cafeteria-item-description {
    font-size: 14;
    color: #666;
}

.input, .btn-primary, .btn-secondary {
    border-radius: 5;
    font-size: 16;
}

.input {
    margin: 10 0;
    padding: 10;
    border-width: 1;
    border-color: #080262;
    background-color: #f0f8ff;
}

.btn-primary {
    background-color: #080262;
    color: white;
    padding: 10;
    font-weight: bold;
}

.btn-secondary {
    background-color: #e0e0e0;
    color: #080262;
    padding: 10;
    font-weight: bold;
}

.cafeteria-menu {
    padding: 10;
    margin: 10;
    border-radius: 8;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cafeteria-item-name {
    font-size: 16;
    font-weight: bold;
    color: #333333;
}